# Dependencies
node_modules/
.bun/

# Build outputs
dist/
build/
.turbo/

# Environment variables
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*

# IDEs & Tools
.vscode/
.idea/
.antigravity/

# CLI
cli/bin/
cli/.env
cli/bin/
cli/release/
cli/.release-tmp/

# Testing
coverage/
.nyc_output/