# Production API URL (Optional if using Caddy reverse proxy on same domain)
# VITE_SYNKRYPT_SERVER_URL=https://api.example.com

VITE_PUBLIC_POSTHOG_PROJECT_TOKEN=your_posthog_project_api_key_here
VITE_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com # or EU host: https://eu.i.posthog.com